@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access denied";
}

<header>
       <style> 
        h4 {text-align: center;} 
    </style> 
</header>
<h4 style="color:red;">Nie masz dostępu do tej części. Nie jesteś właścicielem strony.</h4>